use flake
export url="https://gsxccgtamjhbsrkzfgjd.supabase.co"
export key="sb_publishable_qgE2p7ZF8mLMajwsRA9cQg_F1yv4gfD"
npm install express
npm install -D typescript @types/express ts-node nodemon
npm install @supabase/supabase-js
